<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">


    <link href="~/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css" />


    @*<link href="~/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />*@


    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->

    <link href="~/assets/css/app.min.2.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="~/assets/css/icons.min.2.css" rel="stylesheet" type="text/css" />

    <style>
        .swal2-html-container, .swal2-title {
            color: #71b6f9 !important;
        }
    </style>

    @RenderSection("Styles", required: false)
</head>

<!-- body start -->
@*<body class="loading" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='condensed' data-sidebar-user='true'>*@

<body class="" data-layout-color="light" data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light"
      data-leftbar-position="fixed" data-leftbar-color="dark" data-leftbar-size="condensed" data-sidebar-user="true">
    <!-- Begin page -->
    <div id="wrapper">


        <!-- Topbar Start -->
        <div class="navbar-custom">

            <ul class="list-unstyled topnav-menu float-end mb-0">

                <li class="dropdown notification-list topbar-dropdown">
                    <div id="_partial_notif">
                    </div>
                </li>

                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/assets/img/avatar/avatar-user.png" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ms-1">
                            @Session["ACC_INFO"]
                        </span>
                    </a>
                </li>
            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="@Url.Action("index_seller", "seller")" class="logo logo-light text-center">
                    <span class="logo-sm">
                        <img src="~/assets/images/company/bfm-logo-image.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/company/Bfm.jpg" alt="" height="16">
                    </span>
                </a>
                <a href="@Url.Action("index_seller", "seller")" class="logo logo-dark text-center">
                    <span class="logo-sm">
                        <img src="~/assets/images/company/logo-small.png" alt="" height="30">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/company/Bfm.jpg" alt="" height="50">
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
                <li>
                    <button class="button-menu-mobile disable-btn waves-effect">
                        <i class="fe-menu"></i>
                    </button>
                </li>

                @*<li>
                    <h4 class="page-title-main">Dashboard</h4>
                </li>*@

            </ul>

            <div class="clearfix"></div>

        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>

                <!-- User box -->
                <div class="user-box text-center">

                    <img src="~/assets/img/avatar/avatar-user.png" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
                    <div class="dropdown">
                        <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown" aria-expanded="false">@Session["USERNAME"]</a>
                        <div class="dropdown-menu user-pro-dropdown">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-user me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="@Url.Action("logout", "home")" class="dropdown-item notify-item">
                                <i class="fe-log-out me-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </div>

                    <p class="text-muted left-user-info">@Session["ACCOUNTTYPE"]</p>

                    <ul class="list-inline">
                        @*<li class="list-inline-item">
                            <a href="#" class="text-muted left-user-info">
                                <i class="mdi mdi-cog"></i>
                            </a>
                        </li>*@

                        <li class="list-inline-item">
                            <a href="@Url.Action("logout", "home")">
                                <i class="mdi mdi-power"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li class="menu-title">Navigation</li>

                        <li>
                            <a href="@Url.Action("index_seller", "seller")">
                                <i class="mdi mdi-view-dashboard-outline"></i>
                                <span> Index </span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("logout", "home")">
                                <i class="mdi mdi-power"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                @RenderBody()

            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> &copy; Adminto theme by <a href="">Coderthemes</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


        <div id="modal_changes_password" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border border-danger">
                    <div class="modal-header">
                        <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" id="txtUser" name="txtUser">
                                <div class="mb-3">
                                    <label class="form-label">Old Password</label>
                                    <input type="password" id="txtOldPwd_" class="form-control" placeholder="Old Password" aria-label="New Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">New Password</label>
                                    <input type="password" id="txtNewPwd_" class="form-control" placeholder="New Password" aria-label="New Password">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Confirmation Password</label>
                                    <input type="password" id="txtCnfPwd_" class="form-control" placeholder="Confirmation Password" aria-label="Confirmation Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="text-align: right">
                                    <a href="#" class="btn btn-outline-danger waves-effect waves-light" onclick="OnChangesPwdCancel()">Cancel</a>
                                    <a href="#" class="btn btn-outline-primary waves-effect waves-light" onclick="OnChangesPwdSubmit()">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    <div class="right-bar">

        <div data-simplebar class="h-100">

            <div class="rightbar-title">
                <a href="javascript:void(0);" class="right-bar-toggle float-end">
                    <i class="mdi mdi-close"></i>
                </a>
                <h4 class="font-16 m-0 text-white">Theme Customizer</h4>
            </div>

            <!-- Tab panes -->
            <div class="tab-content pt-0">

                <div class="tab-pane active" id="settings-tab" role="tabpanel">

                    <div class="p-3">
                        <div class="alert alert-warning" role="alert">
                            <strong>Customize </strong> the overall color scheme, Layout, etc.
                        </div>

                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Color Scheme</h6>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="layout-color" value="light"
                                   id="light-mode-check" checked />
                            <label class="form-check-label" for="light-mode-check">Light Mode</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="layout-color" value="dark"
                                   id="dark-mode-check" />
                            <label class="form-check-label" for="dark-mode-check">Dark Mode</label>
                        </div>

                        <!-- Width -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Width</h6>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="layout-size" value="fluid" id="fluid" checked />
                            <label class="form-check-label" for="fluid-check">Fluid</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="layout-size" value="boxed" id="boxed" />
                            <label class="form-check-label" for="boxed-check">Boxed</label>
                        </div>

                        <!-- Menu positions -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Menus (Leftsidebar and Topbar) Positon</h6>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-position" value="fixed" id="fixed-check"
                                   checked />
                            <label class="form-check-label" for="fixed-check">Fixed</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-position" value="scrollable"
                                   id="scrollable-check" />
                            <label class="form-check-label" for="scrollable-check">Scrollable</label>
                        </div>

                        <!-- Left Sidebar-->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Left Sidebar Color</h6>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-color" value="light" id="light" />
                            <label class="form-check-label" for="light-check">Light</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-color" value="dark" id="dark" checked />
                            <label class="form-check-label" for="dark-check">Dark</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-color" value="brand" id="brand" />
                            <label class="form-check-label" for="brand-check">Brand</label>
                        </div>

                        <div class="form-check form-switch mb-3">
                            <input type="checkbox" class="form-check-input" name="leftbar-color" value="gradient" id="gradient" />
                            <label class="form-check-label" for="gradient-check">Gradient</label>
                        </div>

                        <!-- size -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Left Sidebar Size</h6>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-size" value="default"
                                   id="default-size-check" checked />
                            <label class="form-check-label" for="default-size-check">Default</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-size" value="condensed"
                                   id="condensed-check" />
                            <label class="form-check-label" for="condensed-check">Condensed <small>(Extra Small size)</small></label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="leftbar-size" value="compact"
                                   id="compact-check" />
                            <label class="form-check-label" for="compact-check">Compact <small>(Small size)</small></label>
                        </div>

                        <!-- User info -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Sidebar User Info</h6>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="sidebar-user" value="true" id="sidebaruser-check" />
                            <label class="form-check-label" for="sidebaruser-check">Enable</label>
                        </div>


                        <!-- Topbar -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Topbar</h6>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="topbar-color" value="dark" id="darktopbar-check"
                                   checked />
                            <label class="form-check-label" for="darktopbar-check">Dark</label>
                        </div>

                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="topbar-color" value="light" id="lighttopbar-check" />
                            <label class="form-check-label" for="lighttopbar-check">Light</label>
                        </div>

                        <div class="d-grid mt-4">
                            <button class="btn btn-primary" id="resetBtn">Reset to Default</button>
                            <a href="https://1.envato.market/admintoadmin" class="btn btn-danger mt-3" target="_blank"><i class="mdi mdi-basket me-1"></i> Purchase Now</a>
                        </div>

                    </div>

                </div>
            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- Vendor -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>

    <!-- knob plugin -->
    <script src="~/assets/libs/jquery-knob/jquery.knob.min.js"></script>


    <!-- third party js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <!-- third party js ends -->


    <script src="~/assets/libs/selectize/js/standalone/selectize.min.js"></script>
    @*<script src="~/assets/libs/mohithg-switchery/switchery.min.js"></script>*@
    <script src="~/assets/libs/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    @*<script src="~/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>*@
    <script src="~/assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js"></script>
    @*<script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>*@
    @*<script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>*@

    <script src="~/assets/js/pages/form-advanced.init.js"></script>

    <!-- Datatables init -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <!-- Dashboar init js-->
    <script src="~/assets/js/pages/dashboard.init.js"></script>


    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/assets/js/pages/sweet-alerts.init.js"></script>

    <!-- App js-->
    <script src="~/assets/js/app.min.2.js"></script>

    <script>

        $(document).ready(function () {
            $("#_partial_notif").load('@Url.Action("_partial_notif", "home")');
        })
        function OnChangesPwd() {
            document.getElementById('txtOldPwd_').value = '';
            document.getElementById('txtNewPwd_').value = '';
            document.getElementById('txtCnfPwd_').value = '';
            $('#modal_changes_password').modal('show');
        }

        function OnChangesPwdCancel() {
            $('#modal_changes_password').modal('hide');
        }

        function OnChangesPwdSubmit() {
            var formData = new FormData();
            formData.append("pwd1", document.getElementById('txtOldPwd_').value);
            formData.append("pwd2", document.getElementById('txtNewPwd_').value);
            formData.append("pwd3", document.getElementById('txtCnfPwd_').value);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("submit_chg_pwd", "home")',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    if (result.Success) {
                        Swal.fire(
                            result.Message,
                            '',
                            'info'
                        );
                        load_table();
                        $('#modal_reset_password').modal('hide');
                    } else {
                        Swal.fire(
                            result.Message,
                            '',
                            'error'
                        );
                    }
                }
            });

            document.getElementById('txtNewPwd').value = '';
            document.getElementById('txtNewPwd').focus();
            document.getElementById('txtCnfPwd').value = '';
        }

        $(function () {
            var msg = '@TempData["Message"]';
            if (msg != '') {
                if (msg.includes('Error')) {
                    Swal.fire(
                        msg,
                        '',
                        'error'
                    );
                }
                else if (msg.includes('Warning')) {
                    Swal.fire(
                        msg,
                        '',
                        'warning'
                    );
                }
                else {
                    Swal.fire(
                        msg,
                        '',
                        'info'
                    );
                }
            }
        });

        $(".button-menu-mobile").on("click",
            function (t) {
            });

    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>















@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
