
@{
    ViewBag.Title = "Business Partner PIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model B2B_SCM.Models.Custom

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Business Partner (BP) - PIC</h4>
                    <div class="pull-right">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light" onclick="OnClickAdd()">New PIC</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered dt-responsive nowrap" id="table_data" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Uid</th>
                                    <th>BP Code</th>
                                    <th>BP Name</th>
                                    <th>PIC</th>
                                    <th>Title</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Last Updated By</th>
                                    <th>Last Updated Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("submit_new_bp_pic", "master", FormMethod.Post))
{
    <div id="modal_pic_bp" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Body -->
                <div class="modal-header">
                    <h4 class="modal-title" id="txtHeaderPopup"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ModeTransaction)
                    @Html.HiddenFor(model => model.UID)
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <label class="bold mb-2" for="VendorCode">BP</label> <label style="color: red">*</label>
                            @Html.DropDownListFor(model => model.VendorCode, Model.BPList, new { @class = "form-control", @id = "VendorCode" })
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-6">
                            <label class="bold mb-2" for="PICName">Name</label> <label style="color: red">*</label>
                            @Html.TextBoxFor(model => model.PICName, new { @class = "form-control", @id = "PICName", @required = "required" })
                        </div>
                        <div class="col-md-6">
                            <label class="bold mb-2" for="PICTitle">Title</label> <label style="color: red">*</label>
                            @Html.TextBoxFor(model => model.PICTitle, new { @class = "form-control", @id = "PICTitle", @required = "required" })
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-6">
                            <label class="bold mb-2" for="PICEmail">Email</label> <label style="color: red">*</label>
                            @Html.TextBoxFor(model => model.PICEmail, new { @class = "form-control", @id = "PICEmail", @required = "required" })
                        </div>
                        <div class="col-md-6">
                            <label class="bold mb-2" for="PICPhone">Phone</label> <label style="color: red">*</label>
                            @Html.TextBoxFor(model => model.PICPhone, new { @class = "form-control", @id = "PICPhone", @required = "required" })
                        </div>
                    </div>
                    <br />
                    <div class="">
                        <button type="submit" class="btn btn-outline-primary waves-effect waves-light" id="btnSubmit">Submit</button>
                        <a href="#" class="btn btn-outline-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</a>
                    </div>
                </div>
                <!-- End Modal Body -->
            </div>
        </div>
    </div>
}


@section Scripts
    {
    <script>
        $("#VendorCode").selectize();

        function OnClickAdd() {
            document.getElementById('ModeTransaction').value = 'NEW';
            document.getElementById('txtHeaderPopup').innerHTML = 'BP PIC - NEW';
            document.getElementById('UID').value = '';
            $('#modal_pic_bp').modal('show');
        }

        function OnClickEdit(id) {
            var data = { id: id };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("get_detail_bp_cp", "master")',
                data: data,
                success: function(result) {
                    if (result.success) {
                        document.getElementById('txtHeaderPopup').innerHTML = 'Business Partner - EDIT';
                        document.getElementById('ModeTransaction').value = 'EDIT';
                        document.getElementById('UID').value = result.UID;
                        //document.getElementById('VendorCode').value = result.VENDORCODE;
                        document.getElementById('PICName').value = result.PICNAME;
                        document.getElementById('PICTitle').value = result.PICTITLE;
                        document.getElementById('PICEmail').value = result.PICEMAIL;
                        document.getElementById('PICPhone').value = result.PICPHONE;

                        var $select = $("#VendorCode").selectize();
                        var selectize = $select[0].selectize;
                        selectize.setValue(result.VENDORCODE);

                        $('#modal_pic_bp').modal('show');
                    } else {

                    }
                }
            });
        }

        function OnClickDelete(id) {
            var isValid = confirm('Are you sure want to deactive this record?');
            if (isValid == false) {
                return isValid;
            }

            var data = { id: id, status: "0" };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("active_deactive_bp_cp", "master")',
                data: data,
                success: function(result) {
                    Swal.fire(
                        result.message,
                        '',
                        'info'
                    );
                    load_table();
                }
            });
        }

        function OnClickRestore(id) {
            var isValid = confirm('Are you sure want to active this record?');
            if (isValid == false) {
                return isValid;
            }

            var data = { id: id, status: "1" };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("active_deactive_bp_cp", "master")',
                data: data,
                success: function(result) {
                    Swal.fire(
                        result.message,
                        '',
                        'info'
                    );
                    load_table();
                }
            });
        }
        $(document).ready(function () {
            load_table();
        });

         function load_table() {
            var table = $('#table_data').DataTable();
            table.destroy();
            $('#table_data').DataTable({
                "ajax": {
                    "url": '@Url.Action("load_business_partner_cp", "master")',
                    "type": "GET",
                    "datatype": "json",
                    dataSrc: function(data) {
                        return $.parseJSON(data.data);
                    }
                },
                "columns": [
                    {
                        "data": null, "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.STATUS == 'ACTIVE') {
                                return '<span class="contact-edit" onclick="OnClickEdit(\'' + row.UID + '\');"><img src="/assets/img/svg/c-edit.svg" alt="" class="svg"></span>&ensp;<span class="contact-close" onclick="return OnClickDelete(\'' + row.UID + '\');"><img src="/assets/img/svg/c-close.svg" alt="" class="svg"></span>';
                            }
                            else {
                                return '<span class="text-center" onclick="return OnClickRestore(\'' + row.UID + '\');"><img src="/assets/img/svg/upload-down.svg" alt="" class="svg"></span>';
                            }
                        }
                    },
                    {
                        "data": "UID", "autoWidth": true, "visible": false,
                    },
                    {
                        "data": "VENDORCODE", "autoWidth": true, "visible": false,
                    },
                    {
                        "data": "VENDORNAME", "autoWidth": true,
                    },
                    {
                        "data": "PICNAME", "autoWidth": true,
                    },
                    {
                        "data": "PICTITLE", "autoWidth": true,
                    },
                    {
                        "data": "PICEMAIL", "autoWidth": true,
                    },
                    {
                        "data": "PICPHONE", "autoWidth": true,
                    },
                    {
                        "data": "STATUS", "autoWidth": true,
                        mRender: function (data, type, row) {
                            if (row.STATUS == 'ACTIVE') {
                                return '<span style="color: blue"> Active </span>';
                            }
                            else {
                                return '<span style="color: red"> Deactive </span>';
                            }
                        }
                    },
                    {
                        "data": "UPDBY", "autoWidth": true,
                    },
                    {
                        "data": "UPDDATE", "autoWidth": true,
                    },
                ],
                "bLengthChange": false,
                "bFilter": true,
                "order": [[2, "asc"]],
            });
            return true;
        }


    </script>

}